body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./images/markus-spiske-BfphcCvhl6E-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment:fixed;
    color:white;
}

