body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./images/markus-spiske-BfphcCvhl6E-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment:fixed;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
table {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
    font-weight: bold;
}
table, td, th {
    border: 1px solid;
}
.tablehead {
    display:flex;
    justify-content: center;
}